RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?new.ayos-lomboy.com/.*$      [NC]
RewriteRule .*\.(.*|jpg|jpeg|gif|bmp|png|tiff|avi|mpeg|mpg|wma|mov|zip|rar|exe|mp3|pdf|swf|psd|txt|html|htm)$ https://new.ayos-lomboy.com [R,NC]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC, L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/?(.*)/+$ /$1 [R=302,L,QSA]

ErrorDocument 404 https://new.ayos-lomboy.com/404error

ErrorDocument 500 https://new.ayos-lomboy.com/404error

ErrorDocument 302 https://new.ayos-lomboy.com/404error

ErrorDocument 401 https://new.ayos-lomboy.com/404error

ErrorDocument 403 https://new.ayos-lomboy.com/404error